.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title{
    margin-bottom: 30px;
    font: 1.5em sans-serif;
}

.autho-form{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}